@model IEnumerable<AlMualim.Models.Notes>

@{
    ViewData["Title"] = "Index";
    var surah = (List<Surah>)ViewData["Surah"];
    var topics = (List<Topics>)ViewData["Topics"];
    var searchParams = (Dictionary<string, object>)ViewData["SearchParams"];
    var surahParam = (int?)searchParams["Surah"];
    var rukuParam = (int?)searchParams["Ruku"];
    var topicParam = (int?)searchParams["Topic"];
    var searchParam = (string)searchParams["Search"];
    var storiesList = (List<Stories>)ViewData["Stories"];
}

<h1>Administration Page</h1>

<div class="search-container">
    <form method="POST" asp-action="Index" class="search-filters-container">
        <div class="search-filter-container">
            <div class="search-filter-text">Surah</div>
            <select name="surah" class="form-control">
                <option value="">---</option>
                @foreach(var s in surah)
                {
                    @if((int?)s.ID == surahParam)
                        {<option value="@s.ID" selected="selected">@s.ToString()</option>}
                    else
                        {<option value="@s.ID">@s.ToString()</option>}
                }
            </select>
        </div>
        <div class="search-filter-container">
            <div class="search-filter-text">Ruku #</div>
            <input type="number" name="ruku" class="form-control" min="1" value="@rukuParam"/>
        </div>
        <div class="search-filter-container">
            <div class="search-filter-text">Topics</div>
            <select name="topic" class="form-control" >
                <option value="">---</option>
                @foreach(var t in topics)
                {
                    @if((int?)t.ID == topicParam)
                        {<option value="@t.ID" selected="selected">@t.Title</option>}
                    else
                        {<option value="@t.ID">@t.Title</option>}
                }
            </select>
        </div>
        <div class="search-filter-container">
            <div class="search-filter-text">Search</div>
            <input name="searchString" class="form-control" value="@searchParam"/>
        </div>
        <div class="form-group" class="search-filter-container">
            <input type="submit" value="Search" class="btn btn-primary search-btn" />
        </div>
    </form>
</div>

<p>
    <a asp-action="Add">Add New Notes</a> | 
    <a asp-action="Reorder" asp-route-mode="History">Reorder History Notes</a> | 
    <a id="reorder-stories-activate" href=javascript:void(0);>Reorder Prophets Notes</a> | 
    <a id="password-activate" href=javascript:void(0);>Change Admin Password</a> | 
    <a asp-action="Cleanup">Cleanup Database</a>
</p>

<div id="reorder-stories-container" class="hidable-menu">
    <form id="reorder-form" asp-action="Reorder" method="GET" class="hidable-core">
        <label class="control-label">Select the Prophet...</label><br>
        <select name="storyid" class="form-control" id="storiesSelection">
            @foreach(var story in storiesList)
            {<option value="@story.ID" data-storyid="@story.ID">@story.Prophet</option>}
        </select>
        <input name="mode" value="Prophet" style="visibility: hidden; position: absolute;" />
        <input id="submit-button" type="submit" value="Reorder Notes" class="btn btn-primary" />
        <a class="btn btn-primary" href=javascript:void(0); id="reorder-stories-deactivate">Cancel</a>
    </form>
</div>


<div id="password-container" class="hidable-menu">
    <form class="hidable-core" asp-action="ResetPassword" method="GET">
        <label class="control-label">Enter your password (At least 6 characters):</label><br>
        <input type="password" class="form-control password-entry" id="password-entry-a" name="password" />
        <label class="control-label">Confirm your password:</label><br>
        <input type="password" class="form-control password-entry" id="password-entry-b" />
        <label class="control-label" id="password-warning" style="color: red">Passwords do not match!</label><br>
        <input id="password-submit-button" type="submit" value="Change Password" class="btn btn-primary" />
        <a class="btn btn-primary" href=javascript:void(0); id="password-deactivate">Cancel</a>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surah)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topics)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => surah.FirstOrDefault(s => s.ID == item.Surah).Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ruku)
            </td>
            <td>
                <p>
                    @String.Join(',', item.Topics.Select(t => t.Title))
                </p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $("#reorder-stories-activate").click(() => {
        $("#reorder-stories-container").show();
    });
    
    $("#reorder-stories-deactivate").click(() => {
        $("#reorder-stories-container").hide();
    });

    $("#password-activate").click(() => {
        $("#password-container").show();
    });
    
    $("#password-deactivate").click(() => {
        $("#password-container").hide();
    });

    $(".password-entry").change(() =>
    {
        var valA = $("#password-entry-a").val()
        var valB = $("#password-entry-b").val()
        if (valA != valB || valA.length < 6){
            $("#password-submit-button").prop("disabled", true);
            $("#password-warning").show();
        } else {
            $("#password-submit-button").prop("disabled", false);
            $("#password-warning").hide();
        }
    });

    $(document).ready(() => {
        $("#reorder-stories-container").hide();
        $("#password-container").hide();
        $("#password-warning").hide();
        $("#password-submit-button").prop("disabled", true);
    });
</script>