@model IEnumerable<AlMualim.Models.Notes>

@{
    ViewData["Title"] = "Index";
    var surah = (List<Surah>)ViewData["Surah"];
    var topics = (List<Topics>)ViewData["Topics"];
    var searchParams = (Dictionary<string, object>)ViewData["SearchParams"];
    var surahParam = (int?)searchParams["Surah"];
    var rukuParam = (int?)searchParams["Ruku"];
    var topicParam = (int?)searchParams["Topic"];
    var searchParam = (string)searchParams["Search"];
    var storiesList = (List<Stories>)ViewData["Stories"];
}

<h1 class="radial-text">Administration Page</h1>

<form class="mb-3" method="GET">
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-success" asp-action="Add">Add New Notes</button>
        <a type="submit" class="btn btn-info" method="GET" asp-action="Reorder" asp-route-mode="History">Reorder History Notes</a>
        <button type="button" id="reorder-stories-activate"  class="btn btn-info">Reorder Prophets Notes</button>
        <button type="button" id="password-activate" class="btn btn-secondary">Change Admin Password</button>
        <button type="submit" class="btn btn-secondary" asp-action="Cleanup">Cleanup Database</button>
    </div>
</form>

<div id="reorder-stories-container" class="hidable-menu">
    <form id="reorder-form" asp-action="Reorder" method="GET" class="hidable-core">
        <label class="control-label">Select the Prophet...</label><br>
        <select name="storyid" class="form-control" id="storiesSelection">
            @foreach (var story in storiesList)
            {
                <option value="@story.ID" data-storyid="@story.ID">@story.Prophet</option>
            }
        </select>
        <input name="mode" value="Prophet" style="visibility: hidden; position: absolute;" />
        <input id="submit-button" type="submit" value="Reorder Notes" class="btn btn-primary" />
        <a class="btn btn-primary" href=javascript:void(0); id="reorder-stories-deactivate">Cancel</a>
    </form>
</div>


<div id="password-container" class="hidable-menu">
    <form class="hidable-core" asp-action="ResetPassword" method="GET">
        <label class="control-label">Enter your password (At least 6 characters):</label><br>
        <input type="password" class="form-control password-entry" id="password-entry-a" name="password" />
        <label class="control-label">Confirm your password:</label><br>
        <input type="password" class="form-control password-entry" id="password-entry-b" />
        <label class="control-label" id="password-warning" style="color: red">Passwords do not match!</label><br>
        <input id="password-submit-button" type="submit" value="Change Password" class="btn btn-primary" />
        <a class="btn btn-primary" href=javascript:void(0); id="password-deactivate">Cancel</a>
    </form>
</div>

<div class="jumbotron admin-table py-3">
    <table class="display compact" id="primary-table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Surah
                </th>
                <th>
                    Prophet
                </th>
                <th>
                    Topics
                </th>
                <th>
                    Last Updated
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (item.Surah != null){<p>@surah.FirstOrDefault(s => s.ID == item.Surah).Title</p>}
                    </td>
                    <td>
                        @if(item.Story != null){<p>@item.Story.Prophet</p>}
                    </td>
                    <td>
                        <p>
                            @{
                                var itemList = new List<string>();
                                if (item.IsHistory) itemList.Add("History");
                                var topicString = "";
                                itemList.AddRange(item.Topics.Select(t => t.Title).ToList());
                                if (itemList.Count() == 1) topicString = itemList.First();
                                else if (itemList.Count() > 1) topicString = itemList.First() + " and " + (itemList.Count() - 1).ToString() + " more";
                            }
                            @topicString
                        </p>
                    </td>
                    <td>
                        @item.LastUpdated.ToString()
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    $("#reorder-stories-activate").click(() => {
        $("#reorder-stories-container").show();
    });

    $("#reorder-stories-deactivate").click(() => {
        $("#reorder-stories-container").hide();
    });

    $("#password-activate").click(() => {
        $("#password-container").show();
    });

    $("#password-deactivate").click(() => {
        $("#password-container").hide();
    });

    $(".password-entry").change(() => {
        var valA = $("#password-entry-a").val()
        var valB = $("#password-entry-b").val()
        if (valA != valB || valA.length < 6) {
            $("#password-submit-button").prop("disabled", true);
            $("#password-warning").show();
        } else {
            $("#password-submit-button").prop("disabled", false);
            $("#password-warning").hide();
        }
    });

    $(document).ready(() => {
        $("#reorder-stories-container").hide();
        $("#password-container").hide();
        $("#password-warning").hide();
        $("#password-submit-button").prop("disabled", true);

        $("#primary-table").DataTable();
    });
</script>
